@use "tailwindcss";

@font-face {
  font-family: 'Geist Regular';
  src: url('../assets/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Medium';
  src: url('../assets/fonts/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@theme {
  --font-regular: 'Geist Regular', sans-serif;
  --font-medium: 'Geist Medium', sans-serif;
}

@layer base {
  body {
    @apply antialiased;
  }
}